.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.buttonAdd {
    display: block;
    width: 200px;
    height: 50px;
    color: aqua;
}

.button_text {
    background-color: blue;
    color: beige;
}

.newBloc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.purple {
    background-color: purple;
    color: #fff;
}
